//
//  project.xcconfig
//  Sodium
//
// Created by Paulo Andrade on 08/03/2019.
// Copyright © 2019 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

LIBRARY_SEARCH_PATHS[sdk=macosx*] = $BUILD_ROOT/../../SourcePackages/checkouts/CSodium/Libs/macos
LIBRARY_SEARCH_PATHS[sdk=iphone*] = $BUILD_ROOT/../../SourcePackages/checkouts/CSodium/Libs/ios
