//
//  project.xcconfig
//  Sodium
//
// Created by Paulo Andrade on 08/03/2019.
// Copyright © 2019 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SODIUM_VERSION = 1.0.18

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

APPLICATION_EXTENSION_API_ONLY = YES

ENABLE_BITCODE = YES
BITCODE_GENERATION_MODE = bitcode

OTHER_CFLAGS = -fembed-bitcode
OTHER_LDFLAGS = -all_load -lsodium
