//
//  sodium.xcconfig
//  Sodium
//
// Created by Paulo Andrade on 08/03/2019.
// Copyright © 2019 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SODIUM_VERSION = 1.0.17
BUILD_VERSION = 190308.0

DYLIB_COMPATIBILITY_VERSION = 1.0
DYLIB_CURRENT_VERSION = $(SODIUM_VERSION)
CURRENT_PROJECT_VERSION = $(BUILD_VERSION)

APPLICATION_EXTENSION_API_ONLY = YES

